.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(40, 44, 52);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

span {
  font-weight: bold;
}

.id-card {
  display: flex;
  flex-direction: row;
  line-height: 0.4;
  text-align: left;
  border: 1px solid black;
  width: 50%;
  margin: 50px 30px;
  box-shadow: 4px 3px 3px grey;
}

img {
  height: 160px;
  margin: 5px 8px 5px;
}

.box-color {
  height: 30%;
  width: 50%;
  text-align: center;
  border: 1px solid black;
  /* color: white; */
  margin: 0 auto;
}

.credit-card {
  display: flex;
  flex-direction: column;
  line-height: 0.4;
  text-align: left;
  border-radius: 15px;
  width: 30%;
  margin: 50px 30px;
  padding: 20px;
}

.credit-card1 {
  text-align: right;
}

.credit-card2 {
  text-align: center;
}

.credit-card3 {
  text-align: left;
}

.card-number {
  font-size: 50px;
}